PROJECT_NAME=h_main_back

PGSQL_VERSION=postgres:16
DB_NAME=h_main_back_db
DB_USER=h_main_back_user
DB_PASS=h_main_back_pass

ADMINER_VERSION=adminer:5.4.2
ADMINER_PORT=876

REDIS_HOST=localhost
REDIS_PASSWORD=123
REDIS_PORT=6389
REDIS_DB=0

APP_PORT=4000
APP_NAME=AUTH_SERVICE

NODE_ENV=development

DATABASE_URL="postgres://h_main_back_user:h_main_back_pass@localhost:5432/h_main_back_db?schema=public&timezone=Europe/Moscow"

REDIS_URL="redis://:123@localhost:6389"

BULL_BOARD_USER=admin
BULL_BOARD_PASSWORD=admin